@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 100px;

  position: relative;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  align-self: flex-start;
}

h3 {
  font-weight: bold;
}

.bg-black {
  background-color: #141414;
  color: white;
}

.bg-white {
  background-color: white;
  color: black;
}

strong {
  font-weight: 800;
}

button {
  outline: none;
  background-color: #000000;
  color: white;
  padding: 15px 50px;
  border-radius: 25px;
  margin: 0 auto;
  cursor: pointer;
}

button:hover {
  background-color: #292929;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}
